.flex-container {
    display: flex;    
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:center;
    width: 210px;
    height: 300px;
        align-content: center;
                margin: 10% 30% 10% 30%;
        
        /* padding:20%; */
}
.top{
    display: -webkit-flex; 
    display: flex;
  -webkit-flex-direction: ROW;
    flex-direction: ROW;
}
   .bot{
        display: -webkit-flex; 
        display: flex;
      -webkit-flex-direction: ROW;
        flex-direction: ROW;
    }
.flex-item-A{
    background-color: aqua;    
    width: 30px;
    height: 150px;
    /* margin: 10px; */
}
.flex-item-B{
    background-color: cadetblue;
    width: 30PX;
    height: 150px;
    /* margin: 10px; */
}
.flex-item-C{
    background-color: darkcyan;
    width: 30PX;
    height: 150px;
    /* margin: 10px; */
}
.flex-item-D{
    background-color: red;
    width: 30PX;
    height: 150px;}
    .flex-item-E{
        background-color: gray;
        width: 30PX;
        height: 150px;}
        .flex-item-F{
            background-color: brown;
            width: 30PX;
            height: 150px;}
            .flex-item-G{
                background-color: blue;
                width: 30PX;
                height: 150px;}
                .flex-item-H{
                    background-color: violet;
                    width: 210PX;
                    height: 150px;
                }
                
                        