.flex-container {
    /* position: absolute; */
    /* display: -webkit-flex; */
    display: flex;
    
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:center;
    width: 600px;
    height: 400px;
    /* background-color:gray; */
        align-content: center;
        /* margin: auto; */
        margin: 10% 30% 10% 30%;
        
        /* padding:20%; */
}
.top{
    display: -webkit-flex; 
    display: flex;
  -webkit-flex-direction: ROW;
    flex-direction: ROW;
}
   .bot{
        display: -webkit-flex; 
        display: flex;
      -webkit-flex-direction: ROW;
        flex-direction: ROW;
    }
.flex-item-A{
    background-color: aqua;    
    width: 200px;
    height: 200px;
    /* margin: 10px; */
}
.flex-item-B{
    background-color: cadetblue;
    width: 400px;
    height: 200px;
    /* margin: 10px; */
}
.flex-item-C{
    background-color: darkcyan;
    width: 400px;
    height: 200px;
    /* margin: 10px; */
}
.flex-item-D{
    background-color: lightgray;
    width: 200px;
    height: 200px;}
